@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/banner/stylesheet/banner.css">
</head>
<body>

    
</body>
</html>
